* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #02dfff, #00beff, #0099ff, #006eff, #0032e3);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
}

.hero {
  font-size: 8em;
  word-spacing: 2px;
  letter-spacing: 2px;
  margin:2rem auto;
  text-align: center;
  padding: 1%;
  font-weight: 500;
  max-width: 80vw;
  overflow: hidden;
}

h1,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addtext,
.btnadd {
  padding: .3rem;
  font-size: 1.7rem;
  width: 20vw;
  height: 5vh;
  border: none;
  background-color: #fff;
  border-radius: 2.5px;
  outline: none;
  color: gray;
  margin-left: 4rem;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
}

.select {
  position: relative;
  overflow: hidden;
  margin: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00beff;
  padding: .5rem;
  width: 1.1rem;
  pointer-events: none;
}

.select:hover::after {
  color: #00beff;
  background-color: #fff;
}

select {
  background-color: #fff;
  color: #00beff;
  cursor: pointer;
  padding: .65rem;
  width: 10rem;
  border-radius: 5px;
}

.filter {
  font-size: 1rem;
  border-radius: 2.5px;
}

.btnadd {
  color: #00beff;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s ease;
  margin: 0 0 0 -5px;
  width: 3vw;
}

.btnadd:hover {
  background-color: #00beff;
  color: #fff;
}

.listul {
  min-width: 30vw;
  list-style-type: none;
  margin: 0 auto;
  max-width: 40vw;
}

.lidiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00bfff;
  margin: .6vh  0;
  padding: 0 .5vw;
  max-width: 50vw;
}

.listul li {
  flex: 1;
}

.compstatus {
  opacity: 0.7;
  text-decoration: line-through;
}

.btndel,
.btncom {
  color: #fff;
  background-color: #00bfff91;
  border: none;
  transition: all .3s ease;
  padding: .2rem;
  margin: .2rem .5rem;
  font-size: 1rem;
  align-self: flex-end;
  cursor: pointer;
}

.btndel i,
.btncom i {
  pointer-events: none;
}

.btncom {
  color: rgb(2, 241, 2);
  font-weight: 300;
}

.lidiv {
  display: flex;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: .0;
  transition: all .7s ease;
}

footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 5rem;
}

footer p {
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 6rem;
  width: 12rem;
}

footer img {
  width: 5rem;
  height: 10rem;
  margin: 1rem;
}

footer img:hover {
  width: 20rem;
  height: auto;
  margin: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all .7s ease;
}